*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  background-color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 980px;
  height: 300x;
  background: #cccccc;
  margin: 50px auto 0;
  word-break: break-all;
  font-size: 13px;
 
}
.bloc-tabs {
  display : flex;

}

.tabs {
   
  padding: 18px;
  text-align: center;
  width: 40%;
  cursor: pointer;
  background: #ffffff;
  box-sizing: content-box;
  position: relative;
  outline: none ;
  font-size: 9px;
  color:#817f7f
}
  


.active-tabs {
  background:#ffffff;
  border-bottom: 1px solid transparent;
  
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: blue;
}

button {
  border: none;
}

.content-tabs{
  flex-grow: 1;
 
}

.content {
  background:#fdf7f7;
  padding: 20px;
  width:100%;
  height:  100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #ffffff;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}


@media(max-width:650px){
  .container{
      margin:45px 7.5%;
      
          font-size: 20px;
          margin-bottom: 10px;
      }
      .content{
          width: 350px;
          max-width: 100%;
          margin:15px auto;
      }

      
      

      
  }
