*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  background-color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 50px auto 0;
 
}
.bloc-tabs {
  display : flex;
  justify-content: space-between;

}

.tabs {
  padding: 10px;

  text-align: center;
  cursor: pointer;
  background: #ffffff;
  box-sizing: content-box;
  position: relative;
  outline: none ;
  font-size: 14px;
}
  


.active-tabs {
  background:#ffffff;
  border-bottom: 1px solid transparent;
  
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: blue;
}

button {
  border: none;
}

.content-tabs{
 
  display: flex;
  justify-content: space-between;
}

.content {
  background:#fdf7f7;
  padding: 20px;
  width:100%;
  height:  100%;
  display: none;
 
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #ffffff;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

.items2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;    
  background-color: rgb(255, 255, 255);
  
}

.item2{
  width: 24%; 
  text-align: center;
  border:1px solid #ddd;
  margin:10px 0;
  padding:15px;
  font-size: 20px;
}
.item2  p{
  margin:0;
  height: fit-content; 
  background-color: #ffff;
  color:#817f7f;

}
.item2 .button{
  padding: 1px 25px;
  background: rgb(255, 255, 255);
  padding-top: 2px;
  padding-right: 30px;
  margin: 30px 0;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid blue;

}



@media(max-width:1000px){
  .bloc-tabs {
    justify-content:center;
    flex-wrap: wrap;
  
  }
  .tabs {
   margin:7.5px 10px;
  }
    
}

@media(max-width:975px){
  .item2{
    width: 47.5%;
  }
}

@media(max-width:500px){
  .item2{
    width: 100%;
  }
}